<%
=begin%>
  Add required feilds, so user does not reach the error screen
<%
=end%>
<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label :cartype, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :cartype, class:"form-control", placeholder:"SUV" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :make, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :make, class:"form-control", placeholder:"Toyota" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :model, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :model, class:"form-control", placeholder:"Innova" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :seats, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.number_field :seats, class:"form-control", placeholder:"7" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :year, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.number_field :year, class:"form-control", placeholder:"2019" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :serviced, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.date_select :serviced, class:"form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :cars_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="actions form-group">
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
