<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :cartype %>
    <%= form.text_field :cartype, class:"form-control", placeholder:"SUV" %>
  </div>

  <div class="field form-group">
    <%= form.label :make %>
    <%= form.text_field :make, class:"form-control", placeholder:"Toyota" %>
  </div>

  <div class="field form-group">
    <%= form.label :model %>
    <%= form.text_field :model, class:"form-control", placeholder:"Innova" %>
  </div>

  <div class="field form-group">
    <%= form.label :seats %>
    <%= form.number_field :seats, class:"form-control", placeholder:"7" %>
  </div>

  <div class="field form-group">
    <%= form.label :year %>
    <%= form.number_field :year, class:"form-control", placeholder:"2019" %>
  </div>

  <div class="field form-group">
    <%= form.label :serviced %>
    <%= form.date_select :serviced, class:"form-control" %>
  </div>

  <div class="actions form-group">
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
