<%
=begin%>
  You have all views in one place, like for car and even for slots, is there a reason for this?
<%
=end%>
<% if @car.user == current_user %>
  <h2>Add a slot:</h2>

  <%= form_with(model: [ @car, @car.slots.build ], local: true) do |form| %>

    <p>
      <%= form.label :from_date %><br>
      <%= form.date_select :from_date %>
    </p>
    <p>
      <%= form.label :to_date %><br>
      <%= form.date_select :to_date %>
    </p>
    <p>
      <%= form.label :amount %><br>
      <%= form.number_field :amount %>
    </p>

    

    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>