<h2>Slots</h2>
<% @car.slots.each do |slot| %>
  <p>
    <strong>From Date:</strong>
    <%= slot.from_date %>
  </p>
 
  <p>
    <strong>To Date:</strong>
    <%= slot.to_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= slot.amount %>
  </p>

  <% if @car.user == current_user %>
    <p>
      <%= link_to 'Remove slot', car_slot_path(slot_id: slot.id, car_id: @car.id) , method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% else %>
    <%= render 'requests/status', request: @new, object: @slot %>
  <% end %>
<% end %>