<h1>All Listed Cars</h1>
<% req = Request.all %>
<% gaadi = [] %>
<% req.each do |r| %>
  <% s = r.slot_id %>
  <% car = Slot.all.find(s).car_id %>
  <% gaadi.push(car) %>
<% end %>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Cartype</th>
      <th>Seats</th>
      <th>Year</th>
      <th>Serviced</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
          <% if not gaadi.include? car.id %>
            <tr>
              <td><%= car.cartype %></td>
              <td><%= car.seats %></td>
              <td><%= car.year %></td>
              <td><%= car.serviced %></td>
              <td><%= link_to 'Details', car %></td>
            </tr>
          <% end %>
    <% end %>
  </tbody>
</table>
<br>
