<div class="jumbotron">
  <h1 class="display-4">
    <strong>
      <%= @car.make %>
      <%= @car.model %>
    </strong>
  </h1>

  <h1 class="display-10">
    <%= @car.cartype %>, <%= @car.seats %> Seater
  </h1>

 

  <p class="lead">Drive the car in a certain manner.</p>
  <hr class="my-4">

    <p> Last Serviced: <%= @car.serviced %> </p>

    <p> Car's Model Year: <%= @car.year %> </p>

  <%= link_to 'Edit', edit_car_path(@car), class:"btn btn-primary btn-lg" %>

  <%= link_to 'Go Back', cars_path, class:"btn btn-secondary btn-lg" %>
  
</div>

<%= render 'slotshow', car: @car %>
<%= render 'slot', car: @car %>